{{template "header" .}}
            <div class="content">
                <div class="middleMain">
                    <b>앨범 만들기</b>
                    <form class="frm-form" action="javascript:start()">
                        <div class="frm-item">
                            <span class="label">title</span>
                            <input id="title" type="text" name="title"/>
                        </div>
                        <div class="frm-item">
                            <span class="label">date</span>
                            <input id="start_date" type="date" name="start_date"/>~
                            <input id="end_date" type="date" name="end_date">
                        </div>
                        <div class="frm-item">
                            <span class="label">desc</span>
                            <input id="desc" type="text" name="desc" style="width:300px"/>
                        </div>
                        <input type="hidden" id="token" name="token" value={{.Token}}>
                        <input type="submit" value="make"/>
                        <input type="reset" value="cancel" />
                    </form>
                </div>
            </div>
{{template "footer" .}}
